In [ ]:
 ### variable length arguments
 ### positional arguments
def print_numbers(*args):
    for number in name:
        print(number)

In [2]:
print_numbers(1,2,3,4,5,6,'sahil')

1
2
3
4
5
6
sahil

In [4]:
## keyword arguments
def print_detail(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [6]:
print_detail(name="sahil",age="24",grade='A')

name:sahil
age:24
grade:A

In [8]:
### return mulyiple values in python
def mult(a,b):
    return a*b,a
result=mult(2,3)
print(result)

(6, 2)

1: Temperature Conversion

In [ ]:
def temp_convert(temp,unit):
    """This fuction converts temp between celsius to farenheit """
    if unit=='C':
        return temp * 9/5 + 32
    elif unit=="F":
           return (temp-32) *5/9
    else:
        return None
print(temp_convert())

Calculate total cost of items in shopping cart

In [2]:
def calc_total_cost(cart):
    total_cost= 0
    for item in cart:
        total_cost+=item['price']* item['quantity']
    return total_cost
## Example Cart data
cart=[{'name':'Apple','price':0.8,'quantity':4},
      {'name':'Orange','price':0.5,'quantity':5}]
final_cost=calc_total_cost(cart)
print(final_cost)

5.7

In [4]:
def is_pallindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_pallindrome("ABCDCBA"))

True

In [5]:
def fact(n):
    if(n==0):
        return 1
    else:
        return n*fact(n-1)
    
print(fact(5))

120

In [ ]:
## function to read a file and count the frequency of each word
## list of no. in dict
number=[1,1,2,2,2,3,3,3,3,4]
freq={}
for num in number:
    if (num in freq):
        freq[num]+=1
    else:
        freq[num]=1

print(freq)

{1: 2, 2: 3, 3: 4, 4: 1}

In [1]:
## function to read a file and count the frequency of each word
def count_word_freq(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?;:"\'')
                word_count[word]=word_count.get(word,0)+1

    return word_count
filepath='sample.txt'
word_freq=count_word_freq(filepath)
print(word_freq)

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'my': 2, 'name': 2, 'is': 2, 'sahil': 1, 'mothers': 1, 'tanushree': 1}

Validate an email address

In [ ]:
import re

def is_valid_email(email):
    pattern=r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'

In [ ]:
## Lambda function is a small function defined using lambda 
## keyword.they can have any no. of arguments but only one expression.

In [ ]:
## SYNTAX of lambdaa: lambda arguments:expression

In [2]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [4]:
## map()- applies a funtion to all items in a list
number=[1,2,3,4,5,6]
list(map(lambda x:x**2,number))

[1, 4, 9, 16, 25, 36]

In [5]:
# map multiple iterables
num1=[1,2,3]
num2=[5,4,6]
add_num=list(map(lambda x,y:x+y,num1,num2))
print(add_num)

[6, 6, 9]

In [6]:
# map to convert list of strings to integers
str_num=['1','2','3']
int_num=list(map(int,str_num))
print(int_num)

[1, 2, 3]

In [7]:
words=['apple','banana','cherry']
upper_case=list(map(str.upper,words))
print(upper_case)

['APPLE', 'BANANA', 'CHERRY']

In [4]:
def get_name(person):
    return person['name']
people=[{'name':'sahil','age':23},{'name':'aditya','age':22}]
list(map(get_name,people))

['sahil', 'aditya']

In [ ]:
### filter function
## the filter function constucts an iterator for elements
## of an iterable for which a function true.

In [6]:
def even (num):
    if num%2==0:
        return True

In [12]:
even(24)

True

In [9]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
#list(map(even,lst))
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [17]:
## filter with lambda function
numbers=[1,2,3,4,5,6,7,8]
greater_num=list(filter(lambda x:x>5,numbers))
print(greater_num)

[6, 7, 8]

In [19]:
even_and_greater_num=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_num)

[6, 8]

In [21]:
## filter to check age is greater than 25 in dictionary
people=[{'name':'sahil','age':23},{'name':'sabya','age':56}
        ,{'name':'satya','age':27}]
def age_greater_25(person):
    return person['age']>25
age=list(filter(age_greater_25,people))
print(age)

[{'name': 'sabya', 'age': 56}, {'name': 'satya', 'age': 27}]

In [5]:
# merging both positional arguments and keyword arguments
def print_details(*args,**kwargs):
    for val in args:
        print(f"positional arguments :{val}")
    for key,value in kwargs.items():
        print(f"keyword Argument :{key}:{value}")
print_details(1,2,3,4,"sahil",name="ram",age="22",country="India")

positional arguments :1
positional arguments :2
positional arguments :3
positional arguments :4
positional arguments :sahil
keyword Argument :name:ram
keyword Argument :age:22
keyword Argument :country:India