In [8]:
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [10]:
lst=list()
print(type(lst))
tup=tuple()
print(type(tup))

<class 'list'>
<class 'tuple'>

In [ ]:
##tuples are immutable

## list can be typecasted to tuple and vice-versa

In [11]:
numbers=(1,2,3,4,5,6)
print(numbers)

(1, 2, 3, 4, 5, 6)

In [ ]:
# tuple methods
print(numbers.count(1))
print(numbers.index(3))# returns first index of the value entered#

1
2

In [14]:
# packing and unpacking tuple
packed_tuple=1,"helo",3.14
print(packed_tuple)

(1, 'helo', 3.14)

In [15]:
#unpacking tuples
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
helo
3.14

In [18]:
#unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [1]:
# iterating over nested tuple
nested_tup=((1,2,3),('a','b','c'),(True,False))
for sub_tup in nested_tup:
    for item in sub_tup:
        print(item,end=" ")
    print()

1 2 3
a b c
True False